@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.colonneInput {
  width: 60%;
}

.colonneLabel {
  width: 36%;
}
