<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Fonctionnalité</h4>
        <ul>
          <li><a href="/account/register">Créer un compte</a></li>
          <li><a href="/login">Se connecter</a></li>
          <li><a href="/liste-projets">Projets</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Aide et assistance</h4>
        <ul>
          <li><a href="/aide">Nous contacter</a></li>
          <li><a>+225 0546153191</a></li>
          <li><a>Mail:hse@hse.com</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>A propos de HSE</h4>
        <ul>
          <li><a href="/a-propos">A propos</a></li>
          <li><a href="/regle-condition">Règle & conditions</a></li>
          <li><a href="/vie-prive">Vie privé</a></li>
          <li><a href="/remboursement">Remboursement</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
