<div [ngSwitch]="account !== null" class="home flex-column d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <jhi-hero-page [account]="account"></jhi-hero-page>

    <div class="py-5 mt-4">
      <div class="text-900 font-bold text-6xl mb-2 text-center">
        <div class="text-900 font-bold text-6xl mb-2 text-center">
          <span class="text-900"> Categories,</span>
          <span class="text-eva">Projets</span>
        </div>
      </div>
      <div class="text-700 text-2xl text-center line-height-3">Découvrez la liste de projets, chantiers en fonction des villes</div>
    </div>

    <section class="col-xl-10">
      <ng-container *ngFor="let categorie of categories">
        <div class="py-2 my-4 text-center shadow col-xl-12 align-items-center">
          <jhi-home-projets [categorie]="categorie"></jhi-home-projets>
        </div>
      </ng-container>
    </section>

    <section class="col-10">
      <jhi-home-solutions></jhi-home-solutions>
    </section>
  </div>
</div>
