<div [ngSwitch]="account !== null" class="home flex-column d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <jhi-hero-page [account]="account"></jhi-hero-page>

    <div class="py-5 mt-4">
      <div class="text-900 font-bold text-6xl mb-2 text-center">
        <div class="text-900 font-bold text-6xl mb-2 text-center">
          <span class="text-900"> Categories,</span>
          <span class="text-eva">Projets</span>
        </div>
      </div>
      <div class="text-700 text-2xl text-center line-height-3">Decouvrez la liste des projets en fonction des categories</div>
    </div>

    <section class="col-xl-10">
      <ng-container *ngFor="let categorie of categories">
        <div class="py-2 my-4 text-center shadow col-xl-12 align-items-center">
          <jhi-home-projets [categorie]="categorie"></jhi-home-projets>
        </div>
      </ng-container>
    </section>

    <section>
      <jhi-home-solutions></jhi-home-solutions>
    </section>

    <div class="py-1 mt-8 d-flex justify-content-center align-items-center flex-column">
      <div class="text-900 font-bold text-6xl mb-2 text-center">
        <div class="text-900 font-bold text-6xl mb-2 text-center">
          <span class="text-900"> Remerciements,</span>
          <span class="text-eva">nos partenaires</span>
        </div>
      </div>
      <div class="text-700 text-1xl col-xl-8 text-center line-height-3">
        Sincère Remerciement au partenaires qui nous ont soutenu durant toute la conception jusqu'a la réalisation du projet QHSE
      </div>
    </div>

    <section id="clients" class="surface-section mt-4 text-center col-xl-12">
      <div class="container d-flex justify-content-center align-items-center flex-column">
        <div class="row col-xl-10 no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp">
          <div class="col-lg-3 col-md-4 col-xs-6 mb-4">
            <div class="client-logo">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 mb-2">
            <div class="client-logo">
              <img src="../../../content/assets/img/beve/log3.jpg" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 mb-2">
            <div class="client-logo">
              <img src="../../../content/assets/img/beve/log2.jpg" class="img-fluid" alt="" />
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6 mb-2">
            <div class="client-logo">
              <img src="../../../content/assets/img/beve/log1.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
