<div class="py-5 mt-4">
  <div class="text-900 font-bold text-6xl mb-2 text-center">
    <span class="text-900">Un Chantier, </span>
    <span class="text-eva">plusieurs Solutions</span>
  </div>
  <div class="text-700 text-2xl text-center line-height-3">Découvrez les spécifications sur chaque chantier</div>
</div>

<div class="d-flex justify-content-center align-items-center flex-row flex-wrap">
  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ "Qu'est ce que QHSE ?".toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>QHSE est une plateforme Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim iure neque reprehenderit.</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ 'qui peut utiliser QHSE ?'.toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea et fugit itaque natus numquam odio perspiciatis quasi voluptatem.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ 'participer à un chantier ?'.toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut, enim eveniet fuga impedit in iste maxime nihil ratione,
            tempore ullam.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ 'Pourquoi QHSE ?'.toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, animi dolor dolorum excepturi ipsam iste laboriosam, minima,
            nesciunt perferendis veniam voluptatibus.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ 'Status QHSE'.toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad doloribus facere iste laborum molestiae numquam ratione soluta!
            Rem.
          </p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="tab-pane tab-example-result fade show active" role="tabpanel" aria-labelledby="card-blockquote-component-tab">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ "Besoin d'aide ?".toUpperCase() }}</h3>
        <blockquote class="blockquote mb-0">
          <p>
            Votre call center est ouvert 24h/7j pour vos questions et préocupations pressantes. Notre email est disponible pour tout autre
            preocupations (rélévé...)
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
